<ng-container *ngFor="let node of simulatorMeters">
  <ion-row class="ion-justify-content-center">
    <!-- 第一列：主电表 -->
    <ion-col size="12" size="12" size-md="8" size-lg="3" class="ion-no-padding">
      <meterNode [meter]="node.mainMeter"></meterNode>
    </ion-col>

    <!-- 第二列：子电表 -->

    <ng-container *ngIf="node.children.length > 0">
      <ion-col size="12" size-md="8" size-lg="6" class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ng-container *ngFor="let childNode of node.children">
              <ion-col size="12" size-lg="6" class="ion-no-padding">
                <meterNode [meter]="childNode.mainMeter"></meterNode>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ng-container>
  </ion-row>
</ng-container>
