:org.apache.felix.configadmin.revision:=L"1"
alias=""
apiKey=""
bucket="db/data"
enabled=B"true"
id="influx0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
noOfCycles=I"1"
org="-"
persistencePriority="MEDIUM"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.9d615a78-bded-4470-a818-04ccca3939d1"
url="http://localhost:8086"
