:org.apache.felix.configadmin.revision:=L"9"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.0d2b4201-2e9e-4e8a-9f9b-c94af28c57a7))(|(id\=meter401)(id\=meter402)(id\=meter403)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter111"
meterIds=[ \
  "meter401", \
  "meter402", \
  "meter403", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.0d2b4201-2e9e-4e8a-9f9b-c94af28c57a7"
type="GRID"
