:org.apache.felix.configadmin.revision:=L"3"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.0d2b4201-2e9e-4e8a-9f9b-c94af28c57a7))(|(id\=meter11)(id\=meter12)(id\=meter13)))"
addToSum=B"false"
alias="meter1@b1"
enabled=B"true"
id="meter1"
meterIds=[ \
  "meter11", \
  "meter12", \
  "meter13", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.0d2b4201-2e9e-4e8a-9f9b-c94af28c57a7"
type="GRID"
