:org.apache.felix.configadmin.revision:=L"4"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.0e8527d6-b2ca-4e45-bea6-383ef500507c))(|(id\=meter461)(id\=meter462)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter406"
meterIds=[ \
  "meter461", \
  "meter462", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.0e8527d6-b2ca-4e45-bea6-383ef500507c"
type="GRID"
