:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.0e8527d6-b2ca-4e45-bea6-383ef500507c))(|(id\=meter311)(id\=meter312)))"
addToSum=B"false"
alias="meter31@T2"
enabled=B"true"
id="meter31"
meterIds=[ \
  "meter311", \
  "meter312", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.0e8527d6-b2ca-4e45-bea6-383ef500507c"
type="GRID"
