:org.apache.felix.configadmin.revision:=L"15"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.19f3cd8a-326b-45a7-b309-7086789a24d5))(|(id\=meter421)(id\=meter422)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter402"
meterIds=[ \
  "meter421", \
  "meter422", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.19f3cd8a-326b-45a7-b309-7086789a24d5"
type="GRID"
