:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.3d090c5a-cade-44d8-8294-46743815a146))(|(id\=meter31)(id\=meter32)))"
addToSum=B"false"
alias="meter3@b3"
enabled=B"true"
id="meter3"
meterIds=[ \
  "meter31", \
  "meter32", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.3d090c5a-cade-44d8-8294-46743815a146"
type="GRID"
