:org.apache.felix.configadmin.revision:=L"9"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.3d090c5a-cade-44d8-8294-46743815a146))(|(id\=meter406)(id\=meter407)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter121"
meterIds=[ \
  "meter406", \
  "meter407", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.3d090c5a-cade-44d8-8294-46743815a146"
type="GRID"
