:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.7cbf76d8-3ec0-43a7-ab3f-f903e91a805d))(|(id\=meter21)(id\=meter22)))"
addToSum=B"false"
alias="meter2@b2"
enabled=B"true"
id="meter2"
meterIds=[ \
  "meter21", \
  "meter22", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.7cbf76d8-3ec0-43a7-ab3f-f903e91a805d"
type="GRID"
