:org.apache.felix.configadmin.revision:=L"8"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.7cbf76d8-3ec0-43a7-ab3f-f903e91a805d))(|(id\=meter404)(id\=meter405)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter112"
meterIds=[ \
  "meter404", \
  "meter405", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.7cbf76d8-3ec0-43a7-ab3f-f903e91a805d"
type="GRID"
