:org.apache.felix.configadmin.revision:=L"4"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.87e16909-44e3-459d-befa-239ff850b2a9))(|(id\=meter441)(id\=meter442)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter404"
meterIds=[ \
  "meter441", \
  "meter442", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.87e16909-44e3-459d-befa-239ff850b2a9"
type="GRID"
