:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.87e16909-44e3-459d-befa-239ff850b2a9))(|(id\=meter212)(id\=meter211)))"
addToSum=B"false"
alias="meter21@T1"
enabled=B"true"
id="meter21"
meterIds=[ \
  "meter212", \
  "meter211", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.87e16909-44e3-459d-befa-239ff850b2a9"
type="GRID"
