:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.9337985a-8015-4a7e-8f68-345d529eae8d))(|(id\=meter3111)(id\=meter3112)(id\=meter3113)))"
addToSum=B"false"
alias="meter311@b31"
enabled=B"true"
id="meter311"
meterIds=[ \
  "meter3111", \
  "meter3112", \
  "meter3113", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.9337985a-8015-4a7e-8f68-345d529eae8d"
type="GRID"
