:org.apache.felix.configadmin.revision:=L"13"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.9337985a-8015-4a7e-8f68-345d529eae8d))(|(id\=meter4611)(id\=meter4612)(id\=meter4613)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter461"
meterIds=[ \
  "meter4611", \
  "meter4612", \
  "meter4613", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.9337985a-8015-4a7e-8f68-345d529eae8d"
type="GRID"
