:org.apache.felix.configadmin.revision:=L"6"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.b43945df-7e1b-43ef-b66f-1cfc293abdb9))(|(id\=meter112)(id\=meter113)(id\=meter111)))"
addToSum=B"false"
alias="meter11@T5"
enabled=B"true"
id="meter11"
meterIds=[ \
  "meter112", \
  "meter113", \
  "meter111", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.b43945df-7e1b-43ef-b66f-1cfc293abdb9"
type="GRID"
