:org.apache.felix.configadmin.revision:=L"8"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.b43945df-7e1b-43ef-b66f-1cfc293abdb9))(|(id\=meter411)(id\=meter412)(id\=meter413)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter401"
meterIds=[ \
  "meter411", \
  "meter412", \
  "meter413", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.b43945df-7e1b-43ef-b66f-1cfc293abdb9"
type="GRID"
