:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.bcad8a7c-f75c-425e-840f-ff33383eb476))(|(id\=meter221)(id\=meter222)))"
addToSum=B"false"
alias="meter22@T3"
enabled=B"true"
id="meter22"
meterIds=[ \
  "meter221", \
  "meter222", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.bcad8a7c-f75c-425e-840f-ff33383eb476"
type="GRID"
