:org.apache.felix.configadmin.revision:=L"6"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.bcad8a7c-f75c-425e-840f-ff33383eb476))(|(id\=meter451)(id\=meter452)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter405"
meterIds=[ \
  "meter451", \
  "meter452", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.bcad8a7c-f75c-425e-840f-ff33383eb476"
type="GRID"
