:org.apache.felix.configadmin.revision:=L"2"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.cbea8485-0ef8-4826-945b-dafeb1759c49))(|(id\=meter321)(id\=meter322)))"
addToSum=B"false"
alias="meter32@T4"
enabled=B"true"
id="meter32"
meterIds=[ \
  "meter321", \
  "meter322", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.cbea8485-0ef8-4826-945b-dafeb1759c49"
type="GRID"
