:org.apache.felix.configadmin.revision:=L"4"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.cbea8485-0ef8-4826-945b-dafeb1759c49))(|(id\=meter471)(id\=meter472)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter407"
meterIds=[ \
  "meter471", \
  "meter472", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.cbea8485-0ef8-4826-945b-dafeb1759c49"
type="GRID"
