:org.apache.felix.configadmin.revision:=L"4"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.cc002e7c-de13-4034-957a-aa40432f0ef5))(|(id\=meter431)))"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter403"
meterIds=[ \
  "meter431", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.cc002e7c-de13-4034-957a-aa40432f0ef5"
type="GRID"
