:org.apache.felix.configadmin.revision:=L"9"
Meter.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Add.f3c9d476-5674-4bb8-98e8-ac0f028baf25))(|(id\=meter111)(id\=meter112)(id\=meter121)))"
addToSum=B"true"
alias="root"
enabled=B"true"
id="meter00"
meterIds=[ \
  "meter111", \
  "meter112", \
  "meter121", \
  ]
service.factoryPid="Meter.Virtual.Add"
service.pid="Meter.Virtual.Add.f3c9d476-5674-4bb8-98e8-ac0f028baf25"
type="GRID"
