:org.apache.felix.configadmin.revision:=L"7"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter404"
minuends.ids=[ \
  "meter441", \
  ]
minuends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.2fe34226-6d5f-4f77-b387-1b7d238c8964))(|(id\=meter441)))"
service.factoryPid="Meter.Virtual.Subtract"
service.pid="Meter.Virtual.Subtract.2fe34226-6d5f-4f77-b387-1b7d238c8964"
subtrahends.ids=[ \
  "meter442", \
  ]
subtrahends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.2fe34226-6d5f-4f77-b387-1b7d238c8964))(|(id\=meter442)))"
type="GRID"
