:org.apache.felix.configadmin.revision:=L"4"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter442"
minuend.id=""
minuend.target="(false)"
service.factoryPid="Meter.Virtual.Subtract"
service.pid="Meter.Virtual.Subtract.75b59a99-853e-4d54-a47c-a70d02c845a4"
subtrahends.ids=[ \
  "meter442p", \
  ]
subtrahends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.75b59a99-853e-4d54-a47c-a70d02c845a4))(|(id\=meter442p)))"
type="GRID"
