:org.apache.felix.configadmin.revision:=L"7"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter461"
minuend.target="(false)"
minuends.ids=[ \
  "meter4611", \
  "meter4613", \
  ]
minuends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.799c0f49-a544-4c28-86e8-6ecb73ebe2d8))(|(id\=meter4611)(id\=meter4613)))"
service.factoryPid="Meter.Virtual.Subtract"
service.pid="Meter.Virtual.Subtract.799c0f49-a544-4c28-86e8-6ecb73ebe2d8"
subtrahends.ids=[ \
  "meter4612", \
  ]
subtrahends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.799c0f49-a544-4c28-86e8-6ecb73ebe2d8))(|(id\=meter4612)))"
type="GRID"
