:org.apache.felix.configadmin.revision:=L"6"
addToSum=B"false"
alias=""
enabled=B"true"
id="meter4612"
minuend.id=""
minuend.target="(false)"
service.factoryPid="Meter.Virtual.Subtract"
service.pid="Meter.Virtual.Subtract.a3178546-4e3c-4e79-a62b-d17d40a9c76a"
subtrahends.ids=[ \
  "meter4612p", \
  ]
subtrahends.target="(&(enabled\=true)(!(service.pid\=Meter.Virtual.Subtract.a3178546-4e3c-4e79-a62b-d17d40a9c76a))(|(id\=meter4612p)))"
type="GRID"
