:org.apache.felix.configadmin.revision:=L"3"
alias=""
datasource.id="datasource1"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.38ccf00a-d4a6-4ae3-98e7-65d1ac71a640))(|(id\=datasource1)))"
enabled=B"true"
id="meter4612p"
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.38ccf00a-d4a6-4ae3-98e7-65d1ac71a640"
type="PRODUCTION"
