:org.apache.felix.configadmin.revision:=L"8"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.GridMeter.Acting.034b1591-705c-4bbd-a4e5-2cd35d8582f8))(|(id\=datasource0)))"
enabled=B"false"
id="meter0"
needFrequencyStepResponse=B"false"
service.factoryPid="Simulator.GridMeter.Acting"
service.pid="Simulator.GridMeter.Acting.034b1591-705c-4bbd-a4e5-2cd35d8582f8"
startTime="2024-01-29\ 20:12:00"
