:org.apache.felix.configadmin.revision:=L"2"
alias="meter222b24"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.082ea851-a6d1-4b52-b807-8a64c0fe3226))(|(id\=datasource0)))"
enabled=B"true"
id="meter222"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.082ea851-a6d1-4b52-b807-8a64c0fe3226"
