:org.apache.felix.configadmin.revision:=L"2"
alias="meter13@T9"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.0e98810f-508d-45a8-a841-f2d76c19536e))(|(id\=datasource0)))"
enabled=B"true"
id="meter13"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.0e98810f-508d-45a8-a841-f2d76c19536e"
