:org.apache.felix.configadmin.revision:=L"4"
alias="meter111@b11"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.12e3f6da-8692-4de1-9b94-14e718538d4d))(|(id\=datasource0)))"
enabled=B"true"
id="meter111"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.12e3f6da-8692-4de1-9b94-14e718538d4d"
