:org.apache.felix.configadmin.revision:=L"2"
alias="meter3111@b311"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.35e113f7-624f-45ec-beb8-20d9718b1159))(|(id\=datasource0)))"
enabled=B"true"
id="meter3111"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.35e113f7-624f-45ec-beb8-20d9718b1159"
