:org.apache.felix.configadmin.revision:=L"2"
alias="meter113@b13"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.389c52c6-acdb-4a01-b4ca-eafb28806077))(|(id\=datasource0)))"
enabled=B"true"
id="meter113"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.389c52c6-acdb-4a01-b4ca-eafb28806077"
