:org.apache.felix.configadmin.revision:=L"2"
alias="meter3112@b312"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.3ba47c2f-7b68-4e26-8984-a9a3f09db1df))(|(id\=datasource0)))"
enabled=B"true"
id="meter3112"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.3ba47c2f-7b68-4e26-8984-a9a3f09db1df"
