:org.apache.felix.configadmin.revision:=L"2"
alias="meter321@b33"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.66008c86-f91b-4af7-b7ba-03bd823de13f))(|(id\=datasource0)))"
enabled=B"true"
id="meter321"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.66008c86-f91b-4af7-b7ba-03bd823de13f"
