:org.apache.felix.configadmin.revision:=L"3"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.6943693c-d4ca-4337-872c-37fb053336f4))(|(id\=datasource0)))"
enabled=B"true"
id="meter4613"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.6943693c-d4ca-4337-872c-37fb053336f4"
type="CONSUMPTION_METERED"
