:org.apache.felix.configadmin.revision:=L"2"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.725acb0a-d49f-4bde-8d23-442e0821425b))(|(id\=datasource0)))"
enabled=B"true"
id="meter431"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.725acb0a-d49f-4bde-8d23-442e0821425b"
type="CONSUMPTION_METERED"
