:org.apache.felix.configadmin.revision:=L"5"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.c9a7cb3f-b12a-4fba-99e4-b7950ca3449d))(|(id\=datasource0)))"
enabled=B"true"
id="meter412"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.c9a7cb3f-b12a-4fba-99e4-b7950ca3449d"
type="CONSUMPTION_METERED"
