:org.apache.felix.configadmin.revision:=L"3"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.e600f450-19de-4271-a65c-41448a66eb86))(|(id\=datasource0)))"
enabled=B"true"
id="meter441"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.e600f450-19de-4271-a65c-41448a66eb86"
type="CONSUMPTION_METERED"
