:org.apache.felix.configadmin.revision:=L"2"
alias="meter121@b14"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.f080cef0-2e79-435f-8ca9-661c2e5d5f4d))(|(id\=datasource0)))"
enabled=B"true"
id="meter121"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.f080cef0-2e79-435f-8ca9-661c2e5d5f4d"
