:org.apache.felix.configadmin.revision:=L"5"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.fc3d0798-c683-4343-92e0-c16eb43bdab0))(|(id\=datasource0)))"
enabled=B"true"
id="meter472"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.fc3d0798-c683-4343-92e0-c16eb43bdab0"
type="CONSUMPTION_METERED"
