<header></header>
<ion-content>
  <ion-refresher mode="ios" slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-grid [hidden]="!edge.subscribeChannelsSuccessful" *ngIf="edge && edge.isOnline">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="12" size-lg="12" class="ion-no-padding" style="display: flex; justify-content: center; align-items: center;"> 
        <div class="diagram-container" id="diagramContainer"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="edge && edge.isOnline && !edge.subscribeChannelsSuccessful">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-grid>

</ion-content>

