:org.apache.felix.configadmin.revision:=L"1"
alias=""
enabled=B"true"
factor=F"1176256512"
format="GERMAN_EXCEL"
id="datasource0"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.52308fd8-ef37-4fe9-9d92-267d9d05a581"
source="H0_HOUSEHOLD_SUMMER_WEEKDAY_STANDARD_LOAD_PROFILE"
timeDelta=I"-1"
