:org.apache.felix.configadmin.revision:=L"7"
alias=""
enabled=B"true"
factor=F"1092616192"
format="GERMAN_EXCEL"
id="datasource1"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.bcd743a4-1f83-4ca9-8445-cc8b00fc44e5"
source="H0_HOUSEHOLD_SUMMER_WEEKDAY_PV_PRODUCTION"
timeDelta=I"-1"
